extends ./layouts/layout.pug
block title
  title 口座資産
block content
  .row
    .col-md-4
      .panel.panel-default.l-panel-mock.l-panel-asset-info
        .panel-heading
          i.fa.fa-fw.fa-info-circle
          |  資産残高
        .panel-body
    .col-md-8
      ul.nav.nav-tabs
        li: a(href="#deposit" data-toggle="tab") 入金
        li.active: a(href="#withdrawal" data-toggle="tab") 出金依頼
        li: a(href="#cashflow" data-toggle="tab") 入出金一覧
      .tab-content
        .tab-pane#deposit
          |　TBD
        .tab-pane#withdrawal.active
          withdrawal-crud(ref="crud")
          withdrawal-list(ref="list")
        .tab-pane#cashflow
          |　TBD
  hr
  .row
    .col-md-4
      .panel.panel-default.l-panel-mock: .panel-body
    .col-md-4
      .panel.panel-default.l-panel-mock: .panel-body
    .col-md-4
      .panel.panel-default.l-panel-mock: .panel-body
block body-last
  script(src="/js/asset.js")
