extends ./layouts/layout.pug
block title
  title 口座資産
block content
  .row
    .col-sm
      .card.l-card-mock.mb-2
        .card-body
          .card-title
            i.fas.fa-info-circle
            |  資産残高
          .card-text
    .col-sm-8
      ul.nav.nav-tabs.mb-3
        li.nav-item: a.nav-link(href="#deposit" data-toggle="tab") 入金
        li.nav-item: a.nav-link.active(href="#withdrawal" data-toggle="tab") 出金依頼
        li.nav-item: a.nav-link(href="#cashflow" data-toggle="tab") 入出金一覧
      .tab-content
        .tab-pane#deposit
          |　TBD
        .tab-pane#withdrawal.active
          withdrawal-crud(ref="crud")
          withdrawal-list(ref="list")
        .tab-pane#cashflow
          |　TBD
block body-last
  script(src="/js/asset.js")
