extends ./layouts/simple.pug
block title
  title ログイン
block content
  .row.justify-content-center
    .col-md-4
      .card.m-2
        .card-body
          .card-title.p-1: h5 ログインフォーム
          .card-text
            .mb-2
              input-text.l-row(placeholder="ログインID", v-model="loginId", @enter="login")
            .mb-2
              input-text(placeholder="パスワード", v-model="password", password=true, @enter="login")
            .mb-2
              command-button.btn-primary(@click="login", :updating="updating")
                i.fas.fa-lg.fa-sign-in-alt
                | 　ログイン
      .alert.alert-warning サーバ側（サンプル実装版）の認証モードを有効にした時は sample/sample でログインしてください。
block body-last
  script(src="/js/login.js")