extends ./layouts/simple.pug
block title
  title ログイン
block content
  message(global=true)
  .col-xs-6.col-xs-offset-3
    .panel.panel-default.l-panel-login
      .panel-heading ログインフォーム
      .panel-body
        input-text.l-row(placeholder="ログインID", v-model="loginId", :enter="login")
        input-text(placeholder="パスワード", v-model="password", password=true, :enter="login")
      .panel-footer
        command-button.btn-primary(@click.native="login", :updating="updating")
          i.fa.fa-fwfa-lg.fa-sign-in
          | 　ログイン
    .alert.alert-warning サーバ側（サンプル実装版）の認証モードを有効にした時は sample/sample でログインしてください。
block body-last
  script(src="/js/login.js")