extends ./layouts/simple.pug
block title
  title セッションタイムアウト
block content
  .col-xs-6.col-xs-offset-3
    .panel.panel-default
      .panel-heading セッションタイムアウト
      .panel-body
        .alert.alert-warning ログインしていないか一定時間操作がありませんでした。
      .panel-footer
        a.btn.btn-block.btn-default(href="/login.html")
          |　ログイン画面へ戻る
block body-last
  script(src="/js/timeout.js")