// ----------------------------------
// - plain.scss -
// プロジェクト汎用のscss定義
//----------------------------------

// ### common

.l-row {
  margin-bottom: 6px;
}

.l-message {
  font-size: 11px;
  padding: 4px 6px;
  margin-bottom: 6px;
  display: none;
}

.l-item {
  display: inline-block;
}

.l-scrollable { // height指定必須
  overflow-y: scroll;
}

.l-left {
  text-align: left !important;
}

.l-center {
  text-align: center !important;
}

.l-right {
  text-align: right !important;
}

.l-small {
  font-size: 90% !important;
}

.l-hide {
  display: none;
}

// ### table

.l-list-cnt {
  margin: 0 6px 6px 0;
  font-size: 11px;
}

.l-list-wait-row {
  display: none;
  text-align: center;
  td {
    text-align: center;
    width: 880px;
    // 適切なwidth指定は各一覧毎に行ってください
  }
}

.l-table-fixed {
  thead, tbody {
    display: block;
  }
  tbody {
    height: 400px;
    overflow-y: scroll;
  }
  th, td {
    table-layout: fixed;
    padding: 6px !important;
    vertical-align: middle !important;
  }
  th {
    text-align: center !important;
    font-weight: normal;
  }
}

// ### domain

.l-item-id {
  width: 100px;
}
.l-item-name {
  width: 120px;
}
.l-item-name-lg {
  width: 160px;
}
.l-item-type {
  width: 100px;
}
.l-item-type-lg {
  width: 140px;
}
.l-item-outline {
  width: 240px;
}
.l-item-day {
  width: 80px;
  text-align: center;
}
.l-item-currency {
  width: 60px;
  text-align: center;
}
.l-item-amount {
  width: 140px;
  text-align: right;
}

// ### form

// for column warning
.l-message-group {
  display: block;
  input, textarea, select {
    border-color: #ed4c4c;
    background-color: #f6e3e3;
  }
  .l-message-group-item {
    font-size: 80%;
    padding: .2em;
    margin-bottom: .2em;
  }
}
.l-form-label {
  color: #666;
  font-size: 11px;
  padding: 2px 6px;
  margin-bottom: 3px;
  border-left: 3px solid #aaa;
}

.l-form-value {
  padding: 2px 6px;
  margin-bottom: 3px;
}

// ### panel

.l-panel-popup {
  position: absolute;
  display: none;
  top: 60px;
  left: 20px;
  z-index: 99;
}

.l-panel-mock {
  .panel-body {
    background-color: #fafafa;
    height: 160px;
    color: #cfcfcf;
    &:before {
      content: "Dummy Contents";
    }
  }
}
