extends ./layouts/simple.jade
block title
  title ログイン
block content
  .col-xs-6.col-xs-offset-3
    .panel.panel-default.l-panel-login
      .panel-heading ログインフォーム
      .panel-body
        div(v-message="global")
        input.form-control.l-row(type="text" placeholder="ログインID" v-model="loginId" @keydown.enter="login")
        input.form-control(type="password" placeholder="パスワード" v-model="password" @keydown.enter="login")
      .panel-footer
        button.btn.btn-block.btn-primary(@click="login" v-disable:spinner="updating")
          i.fa.fa-fwfa-lg.fa-sign-in
          | 　ログイン
    .alert.alert-warning サーバ側（サンプル実装版）の認証モードを有効にした時は sample/sample でログインしてください。
block body-last
  script(src="/js/login.js")
