// ----------------------------------
// - plain.scss -
// プロジェクト汎用のscss定義
//----------------------------------

// ### common

.l-scrollable { // height指定必須
  overflow-y: scroll;
}

// ### list

// ### domain

.l-item-type {
  width: 8rem;
}

.l-item-day {
  width: 6rem;
}

.l-item-currency {
  width: 3rem;
}
.l-item-amount {
  width: 10rem;
}

.l-card-mock {
  .card-body {
    height: 30rem;
  }
}
